body {
    background-color:#434343;
}

header{
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #5B5B5B;
    padding: 5px;
    height: 4em;
}

.header-text{
    color: white;
    font-weight: bold;
    font-size: 2.4em;
}

.back-button{
    position: absolute;
    left: 0;
    width: 3em;
    border-radius:12.3%;
    padding-left: 1px;
}

.back-button:hover{
    filter: brightness(85%);
    transition: filter 0.15s;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.sesion-table-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    margin: 40px;
    gap: 40px;
}

.sesion-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    margin-left: 40px;
    margin-top: 40px;
}

.table-container {
    margin: 40px;
}

.button-margin {
    margin-left: 40px;
}

.ejercicio-filtros {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 60px;
    margin-top: 20px;
}

h1{
    color: white;
    text-align: center;
}

h6 {
    color: beige;
}