button {
    margin-bottom: 10px;
}

.table-users {
    max-width: 50%;
    margin: 50px;
}

.user-wrapper {
    display: flex;
}

.user-form {
    margin: 50px;
}

.user-form td {
    background-color: transparent;
    color: white;
}

.user-form input {
    width: 204px;
}

.user-form select {
    width: 204px;
}

.form-buttons {
    display: flex;
    justify-content: center;
}

.form-buttons button {
    margin-right: 30px;
}

.selected-row * {
    background-color: #706f6e !important;
    color: black !important;
}
