button {
    margin-bottom: 10px;
}

.table-users {
    max-width: 50%;
    margin: 50px;
}

.user-wrapper {
    display: flex;
}

.user-form {
    margin: 50px;
}

.user-form td {
    background-color: transparent;
    color: white;
}

.form-buttons {
    display: flex;
    justify-content: center;
}
