.menu-table{
    width: 400px;
}

.menu td{
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
    transition-timing-function: ease;
}

.menu:hover td{
    background-color: lightgray;
}

.id{
    width: 40px;
}

.nombre-menu{
    width: 120px;
}

.nombre-comida{
    width: 120px;
}

.kcal{
    width: 40px;
}

.table-button{
    width: 20px;
}